@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



* {

  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;






 
}

.navBarLinks{
  @apply hover:text-blue-500
}
h1{
  @apply text-4xl font-bold mb-4
}

h2{
  @apply text-2xl font-semibold mb-3
}

p{
  @apply text-[1rem] mb-3 leading-relaxed;
}

button {
  @apply px-3 py-3 bg-black font-bold text-white rounded hover:bg-[#36454F] transition rounded-xl;
}