@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



* {


  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;


/* .dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
} */

}

.letsTalk{
  @apply hover:bg-black text-white;

  

}

.readCV{
   @apply hover:bg-black text-white;

}


.icons img{
  @apply hover:w-[1rem]  transition
}

.navBarLinks{
  @apply hover:text-blue-500
}



h1{
  @apply text-4xl font-bold mb-4
}

h2{
  @apply text-2xl font-semibold mb-3
}


h3{
  @apply text-[0.8rem]  mb-3
}

p{
  @apply text-[1rem] mb-3 leading-relaxed;
}

button {
  @apply px-3 py-3 bg-black font-bold text-white rounded hover:bg-[#36454F] transition rounded-xl;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientMove {
  background-size: 200% 200%;
  animation: gradientMove 2s ease-in-out infinite;
}

.contactForm div{
  @apply flex flex-col items-start bg-transparent w-fit
}

.contactForm div input{

 @apply bg-white rounded-md p-2 text-black

}